body{
    background: rgb(7, 7, 7);
    font: normal 17pt Arial;
    margin-top: 10%;
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 17, 248, 0.466);
}
footer{
    color: white;
    text-align: center;
}